 /*
  * Preparation Page css settings
  */

@import (reference) "../../../app/css/app.less";
@import (reference) "../../../app/css/page.less";
@import (reference) "../../../app/css/table.less";


/*******************************************************
 * Preparation Selection 
 *******************************************************/

@SelectionTableMinHeight: 200px;

div.so1p{
    background: none repeat scroll 0 0 white;
    display: table;
}

#result_table{
  margin-left: 20px;
  margin-top: 15px;
}

td.so1sb1{
  background-color: #e7e7e7;
  border: 1px solid #767676;
  min-width: 300px;
  padding: 5px;
}

div.so1sb1{
  min-height:@SelectionTableMinHeight;
}

td.so1sp{
    max-width: 50px;
    min-width: 50px;
}

div.so1st{
  color:@DefaultTextColor;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
  text-decoration:underline;
}

span.so1r1{
  text-decoration:line-through;
}

div.sidebar-prep{
  padding-right:10px;
}


td.so1dl{
   min-width:175px;
   vertical-align: middle;
}

tr.so1r{
    color:@TextWeakColor;
    font-size: 14px;
    height: 31px;
    vertical-align: top;
}

td.so1dat{
    text-align: left;
    width: 80px;
    min-width: 80px;
    vertical-align: middle;
}

td.so1pdc{
    text-align: left;
  width: 15px;
  min-width: 15px;
  vertical-align: middle;
}

span.so1pdc{
    width: 30px;
  margin-left: 5px;
  min-width: 30px;
  max-height: 10px;
  border-radius: 2px;
}

td.so1ca{
  max-width: 170px;
  min-width: 170px;
  outline:1px solid #767676;
  padding:3px;
  vertical-align: top;
  width: 170px;
}

td.so1cas{
  max-width: 15px;
  min-width: 15px;
}

div.so1pd{
    margin: 0 auto;
    max-width:150px;
    min-width:150px;
    min-height:@SelectionTableMinHeight - 50;
}

.so1dx{
  background-color:white;
  cursor: pointer; 
  font-size: 14px;
  margin-bottom: 4px;
  text-align: center;
}

div.so1df{
  .so1dx;
  color:@TextWeakColor;
  outline:1px solid #e7e7e7;
}
div.so1dt{
  .so1dx;
  color:@DefaultTextColor;
  padding-left:2px;
  outline:1px solid #b5b5b5;
  text-align:left;
}

div.so1df:hover{
  outline:3px solid green;
}
div.so1dt:hover{
  outline:3px solid green;
}


button.so1b1{
  background-color: @RowHeaderBGColor;
  background: linear-gradient(to top, @HeaderBannerColorStrong, @HeaderBannerColorWeak);
  border: 1px solid @RowHeaderBGColor;
  color: #ffffff;
  margin-left: 4px;
  margin-top: 5px;
  width: 130px;
}

.so1b2{
  background-color: @RowHeaderBGColor;
  background: linear-gradient(to top, @HeaderBannerColorStrong, @HeaderBannerColorWeak);
  border: 1px solid @RowHeaderBGColor;
  color: #ffffff;
  width: 140px;
}
button.so1b2{
  .so1b2;
  margin-top: 45px;
}
button.so1b3{
  .so1b2;
  margin-top: 15px;
}

td.so1bx{
  color:black;
  font-size:13px;
  padding-left:20px;
  padding-top:20px;
}

#so1lp{
    margin-left: 25px;
    margin-top: 35px;
}

div.so1ip{
  text-align: center;
}

div.so1ipc{
  font-size:11px;
  margin-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}

div.so1sbr{
  .so0i;
  font-weight:none;
  font-size: 12px;
  margin-bottom:0px;
  max-width:90px;
}

select.so1sp{
  font-size: 14px;
  width:110px;
}

div.so1tp{
  font-size: 12px;
  margin-left: 5px;
}

div.so1ib{
  .so0i;
  margin-top:20px;
}

div.so1i{
  .so0i;
  margin-top:20px;
}
div.so1i:hover{
  background-color:#eee;
}

div.so1err{
  color: @ErrorMessageColor;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 50px;
}

input.ptcbr{
  margin-right: 5px;
  margin-top: 3px;
}
 

/*******************************************************
 * Preparation Result 
 *******************************************************/

div.prep-load-next-page{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold; 
}

div.div-table-toolbar-prep-sp{
  background: none repeat scroll 0 0 @DefaultBGColor;
  height: 97px;
}

/* thanks to http://stackoverflow.com/questions/11714644/how-do-you-make-a-div-clip-its-visible-content */
div.so1tb-sp{
  background: none repeat scroll 0 0 @DefaultBGColor;
  height:115px;
}

div.div-table-toolbar-prep{
  .div-table-toolbar;
  margin-bottom: 15px;
  margin-top: 0px;
  z-index: 1;
  
  .middle{
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100%;
  }
}

.div-table-row-prep-even{
  background-color: #f2f2f2;
}


@preptab-req-w:       70px;
@preptab-grp-w:       70px;
@preptab-mco-w:       80px;
@preptab-sty-w:       80px;
@preptab-var-w:       70px;
@preptab-col-w:       80px;
@preptab-siz-w:       70px;
@preptab-del-w:       70px;
@preptab-wkn-w:       70px;
@preptab-seq-w:       70px;
@preptab-qty-w:       70px;
@preptab-qtym-w:      3px;
@preptab-ix1-w:       70px;
@preptab-sel-w:       70px;
@preptab-sid-w:      120px;
@preptab-sod-w:      120px;
@preptab-sol-w:       80px;
@preptab-puc-w:       80px;
@preptab-opo-w:       60px;

@preptab-nbe-w:       70px;
@preptab-naf-w:       70px;
@preptab-sp1-w:       30px;
@preptab-sp2-w:       10px;
@preptab-ups-w:       70px;
@preptab-nsh-w:       70px;
@preptab-nsi-w:       80px;
@preptab-nsd-w:       67px;
@preptab-agg-w:       70px;

@preptab-ass-w:      100px;

.preptab-ass{
  text-align: center;
  max-width: @preptab-ass-w;
  min-width: @preptab-ass-w;
}
.preptab-req{
  text-align: center;
  max-width: @preptab-req-w;
  min-width: @preptab-req-w;
}
.preptab-grp{
  text-align: center;
  max-width: @preptab-grp-w;
  min-width: @preptab-grp-w;
}
.preptab-grpx{
  .preptab-grp;
  color: @ErrorMessageColor;
}
.preptab-mco{
  text-align: left;
  max-width: @preptab-mco-w;
  min-width: @preptab-mco-w;
}
.preptab-mcox{
  .preptab-mco;
  color: @ErrorMessageColor;
}
.preptab-sty{
  text-align: left;
  max-width: @preptab-sty-w;
  min-width: @preptab-sty-w;
}
.preptab-var{
  text-align: left;
  max-width: @preptab-var-w;
  min-width: @preptab-var-w;
}
.preptab-col{
  text-align: left;
  max-width: @preptab-col-w;
  min-width: @preptab-col-w;
}
.preptab-siz{
  text-align: center;
  max-width: @preptab-siz-w;
  min-width: @preptab-siz-w;
}
.preptab-del{
  text-align: center;
  max-width: @preptab-del-w;
  min-width: @preptab-del-w;
}
.preptab-sid{
  text-align: center;
  max-width: @preptab-sid-w;
  min-width: @preptab-sid-w;
}
.preptab-sod{
  text-align: center;
  max-width: @preptab-sod-w;
  min-width: @preptab-sod-w;
}
.preptab-wkn{
  text-align: center;
  max-width: @preptab-wkn-w;
  min-width: @preptab-wkn-w;
}
.preptab-seq{
  text-align: left;
  max-width: @preptab-seq-w;
  min-width: @preptab-seq-w;
}
.preptab-sol{
  text-align: center;
  max-width: @preptab-sol-w;
  min-width: @preptab-sol-w;
}
.preptab-puc{
  text-align: center;
  max-width: @preptab-puc-w;
  min-width: @preptab-puc-w;
}
.preptab-opo{
  text-align: center;
  max-width: @preptab-opo-w;
  min-width: @preptab-opo-w;
}
.preptab-qty{
  text-align: center;
  max-width: @preptab-qty-w;
  min-width: @preptab-qty-w;
}
.preptab-qtyx{
  color:@ErrorMessageColor;
  text-align: center;
  max-width: @preptab-qty-w;
  min-width: @preptab-qty-w;
}
div.preptab-qtym{
  max-height: 10px;
  overflow: visible;
  padding: 0px;
  text-align: center;
  max-width: @preptab-qtym-w;
  min-width: @preptab-qtym-w;
}
div.preptab-mix{
  display: inline;
  margin-left:20px;
}

.preptab-qtyz{
  text-align: center;
  text-decoration: line-through;
  max-width: @preptab-qty-w;
  min-width: @preptab-qty-w;
}
.preptab-qtyh{
  cursor:pointer !important;
  text-align: center;
  max-width: @preptab-qty-w + @preptab-qtym-w;
  min-width: @preptab-qty-w + @preptab-qtym-w;
}
.preptab-ix1{
  text-align: center;
  max-width: @preptab-ix1-w;
  min-width: @preptab-ix1-w;
}
.preptab-sel{
  text-align: center;
  max-width: @preptab-sel-w;
  min-width: @preptab-sel-w;
}
.preptab-nbe{
  max-width: @preptab-nbe-w;
  min-width: @preptab-nbe-w;
  text-align: center;
  input{
    .div-table-input;
    background: none;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 2px;
    width: @preptab-nbe-w - @table-w-input-sub;
  }
}
.preptab-naf{
  max-width: @preptab-naf-w;
  min-width: @preptab-naf-w;
  text-align: center;
  input{
    .div-table-input;
    background: none;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 2px;
    width: @preptab-naf-w - @table-w-input-sub;
  }
}

div.preptab-agg{
  background: white none repeat scroll 0 0;
  color: @TextWeakColor;
  outline: medium none;
  max-width: @preptab-agg-w;
  min-width: @preptab-agg-w;
  text-align: center;
}


div.preptab-sp1{
  background:@DefaultBGColor;
  border: medium none;
  max-width: @preptab-sp1-w;
  min-width: @preptab-sp1-w;
  outline: medium none;
}
div.preptab-sp2{
  background:@DefaultBGColor;
  border: medium none;
  max-width: @preptab-sp2-w;
  min-width: @preptab-sp2-w;
  outline: medium none;
}

.preptab-ups{
  text-align: right;
  max-width: @preptab-ups-w;
  min-width: @preptab-ups-w;
}
.preptab-ups0{
  color:#898989;
  text-align: right;
  max-width: @preptab-ups-w;
  min-width: @preptab-ups-w;
}
.preptab-ups1{
  text-align: right;
  max-width: @preptab-ups-w;
  min-width: @preptab-ups-w;
}
.preptab-ups2{
  color:#275bd6;
  font-style:italic;
  text-align: right;
  max-width: @preptab-ups-w;
  min-width: @preptab-ups-w;
}
.preptab-ups4{
  color:#000080;
  font-weight:bold;
  text-align: right;
  max-width: @preptab-ups-w;
  min-width: @preptab-ups-w;
}
.preptab-nsh{
  text-align: right;
  max-width: @preptab-nsh-w;
  min-width: @preptab-nsh-w;
}
.preptab-nsi{
  text-align: left;
  max-width: @preptab-nsi-w;
  min-width: @preptab-nsi-w;
}
.preptab-nsd{
  text-align: center;
  max-width: @preptab-nsd-w;
  min-width: @preptab-nsd-w;
}

.so1t{
  .so0tcb;
  outline:none;
}

div.so1td{
  font-weight:bold;
}

input.so1tp{
    border: 1px solid #000000;
    font-size: 17px;
    height: 30px;
    margin-left: 25px;
    margin-top: 10px;
    text-align: center;
    width: 90px;
}

div.so1go{
  color:#a0a3a0;
}


/*******************************************************
 * Preparation Search 
 *******************************************************/

input.soprep-cal-date{
    .div-table-input;
    padding:0px;
    text-align: center;
    width: 75px;
}


/*******************************************************
 * Preparation Summary 
 *******************************************************/

.preps-dwc{
  min-width: 800px;
}
td.preps-t-label{
  width: 180px;
}
td.preps-t-labelx{
  color:@TextWeakColor;
  width: 180px;
}
td.preps-t-field{
  width: 80px;
}
td.preps-t-fieldx{
  color:@TextWeakColor;
  width: 80px;
}
.preps-tdata{
  text-align:right;
}
.preps-tmat{
  border-bottom: 1px solid @TextWeakColor;
  color:@TextWeakColor;
  font-weight: bold;
  text-align: right;
  vertical-align: bottom;
}