<!-- 
   Callback to sort:
   - language icons
   callback-class:com.progenso.desma.html.LoginCallback   
 -->


<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html" ng-app="login">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <link type="image/x-icon" href="img/favicon.ico" rel="shortcut icon">

    <link href="lib/bootstrap/bootstrap-3.1.1.min.css" rel="stylesheet" type="text/css"/>
    
    <!-- Application specific css
    <link href="login/login.css" rel="stylesheet" type="text/css"/>
    -->
    
    <!-- DEVELOPMENT
    -->
    <link href="login/login.less"    rel="stylesheet/less" type="text/css" />

</head>

<body ng-controller="aLoginCtrl">
    
	<!-- label:dontstrip -->
	
	<input id='langcode' type='hidden' name='LanguageCode' value='xx'>

    <!-- Header --> 
    <div style="display:none" class="page_header">
        
        
        <!-- Icons from http://www.iconarchive.com/category/flag-icons.html -->
        <div class="lang_buttons pull-right">
            <div>
                <!-- Languages are defined in the Applications.properties file (note is only one language then no icons are shown) -->
                <!-- a href="" ng-click="changeLanguage('en')"><img src="img/united_kingdom_flag.png"></a -->
                <!-- LangIcons:insert -->
            </div>
        </div>
    </div>
        
    <!-- Login -->
    <div style="display:none" class="page_login container">
        
        <div id='ErrorMessages'></div>
        
        <div class="row span3">
        
            <div class="back-image">
                <img src="img/login.png">
            </div>
        	
            <form class="form">
                &nbsp;<br>
                <legend>&nbsp;</legend>
                &nbsp;<br>&nbsp;<br>
                <div class="control-group">
                    <label class="control-label" for="inputUser">{{label('User');}}</label>
                    <div class="controls">
                        <input type="text" class="input-middle" id="inputUser" focus-on="focusMe" ng-model="luser" autocomplete="off">
                    </div>
                </div>
                &nbsp;<br>
    
                <div class="control-group">
                    <label class="control-label" for="inputPass">{{label('Pass');}}</label>
                    <div class="controls">
                        <input type="password" class="input-middle" id="inputPass" ng-model="lpass" autocomplete="off">
                    </div>
                </div>
    			&nbsp;<br>
    
    			<!-- service:start -->
                <div class="control-group">
                    <label class="control-label" for="inputPass">{{label('Company');}}</label>
                    
                    <div class="controls companies">
                        <!-- CompanyList:insert -->
                    </div>
                </div>
    			&nbsp;<br>
    			<!-- service:end -->
    
     
                <div id="recaptcha_widget"  style="display:none">
                    <div class="control-group">
                        <label class="control-label" for="inputPass">{{label('Captcha');}}</label>
                        <div class="recaptcha_widget">
                            <div id="recaptcha_image" class="recaptcha_image"></div>
                            <span class="recaptcha_only_if_image">{{label('EnterWordsAbove');}}:</span>
                            <!-- span class="recaptcha_only_if_audio">Enter the numbers you hear:</span NOT WORKING? -->
                            <input type="text" id="recaptcha_response_field" name="recaptcha_response_field">
                            <div><a class="spec-link" href="javascript:Recaptcha.reload()">{{label('GetNewCaptcha');}}</a></div>
                            <div><a class="spec-link" href="javascript:Recaptcha.showhelp()">{{label('CaptchaHelp');}}</a></div>
                        </div>
                    </div>
                </div>
 
                <br>
                
                
                <div class="update-browser" ng-show="update">
                    <div class="update-browser-message">{{getUpdateBrowserMessage();}}</div>
                    <div class="update-browser-update">{{label('UpdateBrowser1');}}</div>
                </div>
            
                
                &nbsp;<br>
                
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn action-button" id="btnLogin" ng-click="login()">{{label('Login');}}</button>
                    </div>
                </div>
                
                
            </form>


            <div class="login-failed-message"><div ng-bind-html-unsafe="loginFailedMessage"></div></div>
            
        </div>
    </div>


    <div id="processing" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;background-color:gray;background-color:rgba(70,70,70,0.2);">
        <img style="position:absolute;top:50%;left:50%;" alt="" src="img/ajax-loader.gif"/>
    </div>


<!-- DEVELOPMENT
-->    
<script src="lib/less/less-1.5.0.min.js"></script>



    <!-- Standard JQuery library -->
    <script src="lib/jquery/jquery.min.1.10.2.js"></script>

    <!-- Standard Angular library -->
    <script src="lib/angular/angular-1.2.16.js"></script>
    
    <!-- Standard Angular router library 
         Dwonload http://code.angularjs.org/-->
    <script src="lib/angular/angular-route-1.2.16.min.js"></script>
    
    <!-- factory which creates a resource object to interact with RESTful server-side data sources 
         http://docs.angularjs.org/api/ngResource/service/$resource -->
    <script src="lib/angular/angular-resource-1.2.16.js"></script>
    
    <!-- 3rd-party module ecrypt passwords using MD5 hash 
         http://www.myersdaily.org/joseph/javascript/md5-text.html -->
    <script src="lib/3rdparty/md5.js"></script>
    
    <!-- A CAPTCHA to tell whether its user is a human or a computer.
         https://www.google.com/recaptcha 
    <script src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js" type="text/javascript"></script>
    -->
    
    <script src="login/app.js"></script>
    <script src="login/service.js"></script>
    <script src="login/controller.js"></script>
    <script src="login/object_login.js"></script>
    
    <script src="app/common/global.js"></script>
    <script src="app/common/remote.js"></script>
    <script src="app/common/model.js"></script>
    <script src="app/common/javascript_utils.js"></script>

    <script src="app/lang/model.js"></script>
    <script src="app/lang/service.js"></script>


   

</body>
</html>