<!--  

Company administration

 -->

<section>    
    
    <div class="masterdata-page">

        <div data-actionmenu="recordEdit,recordSave,recordUndo,recordNew" 
             class="sidebar" 
             data-ng-include 
             data-src="'template/app/sidebar_actions.html'"></div>


        <div class="main">&nbsp;
            <div class="user-table">
                
                <div class="div-table-toolbar">
                    <div class="left record-count">
                        {{label('RecordCount') + ':' + getListCount();}}
                    </div>
                </div>

                <div id="scroller-anchor-header"></div> 
                <div id="scroller-header" style="width:100px;">                                
                    <div class="div-table-row-head">
                        <div table-col-head field="CompanyNr"></div>
                        <div table-col-head field="Code"></div>
                        <div table-col-head field="Active"></div>
                                            
                        <div table-col-head-del></div>
                    </div>
                </div>


                    
                <div ng-repeat="record in list | orderBy:sort_predicate:sort_reverse">
                    
                    <div class="div-table-error"  ng-if="record.containsErrors()">
                        <div ng-repeat="err in record._errors" >
                            <div data-ng-include src="'template/app/error_message_table.html'"></div>
                        </div>                          
                    </div>

                    <div class="div-table-row">
						<div table-col-row field="CompanyNr"></div>
                        <div table-col-row field="Code"></div>
                        <div table-col-row field="Active"></div>

						<div table-col-row-del></div>
                        <div table-col-row-warning></div>
                        
                        <div class="div-table-icon">
                            <a href="" ng-click="showDetail(record.getId())"><i class="fa fa-arrow-circle-down" style="font-size: 16px;"></i></a>
                        </div>
                       
                    </div>
                    
                    <div ng-if="selected(record.getId())" class="div-table-inner" style="margin-left:25px;">
                        <div class="so01b">
                            <div class="so01t">{{record.getCode();}}</div>
		                    <table class="autowidth table-condensed">
					            <tbody>
	    				            <tr>    
	                                     <td class="so01i">{{label(model.getFieldParameter('Lot', 'label'));}}</td>
	                                     <td class="so01c"><input type="text" class="so01p" ng-model="list[$index][model.getFieldParameter('Lot', 'dto')]"></td>
	                                     
	                                     <td class="so01i">{{label(model.getFieldParameter('PrepStockCheck', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('PrepStockCheck', 'dto')]"></td>
	                                </tr>
					                <tr>    
					                     <td class="so01i">{{label(model.getFieldParameter('MultiPlant', 'label'));}}</td>
					                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('MultiPlant', 'dto')]"></td>
					                     
					                     <td class="so01i">{{label(model.getFieldParameter('PrepShipCheck', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('PrepShipCheck', 'dto')]"></td>
					                </tr>
					                <tr>    
	                                     <td class="so01i">{{label(model.getFieldParameter('AllMachines', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('AllMachines', 'dto')]"></td>
	                                     
	                                     <td class="so01i">{{label(model.getFieldParameter('FixShip', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('FixShip', 'dto')]"></td>
	                                </tr>
	                                <tr>    
	                                     <td class="so01i">{{label(model.getFieldParameter('Transform', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('Transform', 'dto')]"></td>
	                                     
	                                     <td class="so01i">{{label(model.getFieldParameter('Variant', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('Variant', 'dto')]"></td>
	                                </tr>
	                                <tr>    
	                                     <td class="so01i">{{label(model.getFieldParameter('Last', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('Last', 'dto')]"></td>
	                                     
	                                     <td class="so01i">{{label(model.getFieldParameter('Color', 'label'));}}</td>
	                                     <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('Color', 'dto')]"></td>
	                                </tr>
	                                <tr>    
                                         
                                         <td class="so01i">{{label(model.getFieldParameter('Engine', 'label'));}}</td>
				                         <td class="so01se">
				                              <select class="so01se"  
				                                      data-ng-model="list[$index][model.getFieldParameter('EngineValue', 'dto')]" 
				                                      data-ng-options="p.value for p in engines"></select>
				                         </td>
				                         
                                         <td class="so01i"></td>
                                         <td class="so01c"></td>
                                    </tr>
                                    <tr>    
                                         <td class="so01i">{{label(model.getFieldParameter('ImportType', 'label'));}}</td>
                                         <td class="so01se">
                                              <select class="so01se"  
                                                      data-ng-model="list[$index][model.getFieldParameter('ImportValue', 'dto')]" 
                                                      data-ng-options="p.value for p in imports"></select>
                                         </td>
                                         
                                         <td class="so01i"></td>
                                         <td class="so01c"></td>
                                    </tr>
	                                
	                                <tr>    
                                         
                                         <td class="so01i">{{label(model.getFieldParameter('FixType', 'label'));}}</td>
                                         <td class="so01se">
                                              <select class="so01se"  
                                                      data-ng-model="list[$index][model.getFieldParameter('FixValue', 'dto')]" 
                                                      data-ng-options="p.value for p in fixes"></select>
                                         </td>

                                         <td class="so01i">{{label(model.getFieldParameter('ImportLogisoftNextDay', 'label'));}}</td>
                                         <td class="so01c"><input type="checkbox" ng-model="list[$index][model.getFieldParameter('ImportLogisoftNextDay', 'dto')]"></td>
                                    </tr>
	                                
					            </tbody>
					        </table>
                        </div>
                    </div>
                    
                </div>
                
                
            </div>
        
        </div>
        
    </div>



</section>