@import (reference) "../../../../app/css/app.less";
@import (reference) "../../../../app/css/table.less";

/*******************************************************
 * Language CSS
 *******************************************************/

@table-w-lang-key:  200px;
@table-w-lang-cod:  50px;
@table-w-lang-txt:  300px;
@table-w-lang-cli:  50px;
@table-w-lang-set:  100px;
@table-w-lang-cop:  50px;

div.lang-key{
  max-width: @table-w-lang-key;
  min-width: @table-w-lang-key;
  text-align: left;
  width: @table-w-lang-key;
  input{
    .div-table-input;
    text-align:left;
    width:@table-w-lang-key - @table-w-input-sub;
  }
}

div.lang-cod{
  max-width: @table-w-lang-cod;
  min-width: @table-w-lang-cod;
  text-align: center;
  width: @table-w-lang-cod;
  input{
    .div-table-input;
    text-align:left;
    width:@table-w-lang-cod - @table-w-input-sub;
  }
}

div.lang-txt{
  max-width: @table-w-lang-txt;
  min-width: @table-w-lang-txt;
  text-align: left;
  width: @table-w-lang-txt;
  input{
    .div-table-input;
    text-align:left;
    width:@table-w-lang-txt - @table-w-input-sub;
  }
}

div.lang-cli{
  max-width: @table-w-lang-cli;
  min-width: @table-w-lang-cli;
  text-align: center;
  width: @table-w-lang-cli;
}

div.lang-cop{
  max-width: @table-w-lang-cop;
  min-width: @table-w-lang-cop;
  text-align: center;
  width: @table-w-lang-cop;
}

div.lang-set{
  max-width: @table-w-lang-set;
  min-width: @table-w-lang-set;
  text-align: left;
  width: @table-w-lang-set;
  input{
    .div-table-input;
    text-align:left;
    width:@table-w-lang-set - @table-w-input-sub;
  }
}


/*******************************************************
 * Language Search  CSS
 *******************************************************/

td.lang-src-label{
  width: 200px;
}
td.lang-src-field{
  width: 600px;
}