    
    <div class="dialog-message-header">
        {{label('MouldAdd');}}
    </div>
    
    <form novalidate >
    <div class="modal-body">
        
        <table class="autowidth table-condensed">
            <thead>
                <tr>
                    <td class="style-src-label"/>
                    <td class="style-src-field"/>
                </tr>
            </thead>

            <tbody>
                
                <tr>    
                     <td class="field-label">{{label('Mould');}}</td>
                     <td class="tdata">
                         <input class="field-edit form-control dialog-t-long" 
                                type="text" 
                                maxlength="{{model.getFieldParameter ('Code', 'max');}}"
                                focus-on="focusMe"
                                typeahead="item.l for item in lookupMould($viewValue)"
                                typeahead-loading="loadingLookup"
                                ng-model="dto[model.getCode_F()]">
                     </td>
                </tr>
                
            </tbody>
        </table>


    </div>
          
      
    <div class="dialog-footer modal-footer">
        <button class="btn dialog-footer-btn" ng-click="add()">{{label('MouldAdd');}}</button>
        <button class="btn dialog-footer-btn" ng-click="cancel()">{{label('Cancel');}}</button>
        
        <div class="dialog-validation-message"><div ng-bind-html-unsafe="validationMessage"></div></div>
    </div>
    </form>  
        		