<!-- 
     no-cache:true
     callback-class:com.progenso.desma.html.entities.plan.SimuListDialogCallback
-->


<div class="dialog-model-top">    
    <div class="dialog-message-header">
        {{label('Simu.S');}}
    </div>
    
    <form name="{{form_name}}" novalidate class="simu-list-d">
	    
	    <div class="so2-lc">
	        {{count();}}        
	    </div>
	    
	    <table class="autowidth table-condensed">
            <thead>
                <tr>
                    <td class="so2-lih">{{label('Simu.Nr');}}</td>
                    <td class="so2-lsh">{{label('User');}}</td>
                    <td class="so2-lih">{{label('Qty');}}</td>
                    <td class="so2-lxh">{{label('Type');}}</td>   <!-- div callback-head="SimuType"></div-->
                    <td class="so2-lih">{{label('ChgMould');}}</td>
                    <td class="so2-lih">{{label('PartAv');}}</td>  <!-- div callback-head="PartAv"></div-->
                    <td class="so2-ldh">{{label('DateT');}}</td>
                    <td class="so2-lsh">{{label('Fixed');}}</td>
                    <td class="so2-lsh">{{label('Select');}}</td>
                </tr>
            </thead>
                        
            <tbody>
                <tr ng-repeat="rec in list" ng-class-even="'so2-even'">
                        
                    <td class="so2-li">{{rec.getNr()}}</td>
                    <td class="so2-ls">{{rec.getUserid()}}</td>
                    <td class="so2-li">{{rec.getQuantityPlanned()}}</td>
                    <td class="so2-li">{{rec.getTypeLabel()}}</td>   <!-- div callback-head="SimuType"></div-->
                    <td class="so2-li">{{rec.getNumberMouldChanges()}}</td>
                    <td class="so2-li">{{rec.getAvePartie_f()}}</td>  <!-- div callback-head="PartAv"></div-->
                    <td class="so2-li">{{rec.getCreated_f()}}</td>
                    <td class="so2-ls">{{rec.getFix()}}</td>
                    <td class="so2-lc" ng-click="select(rec)">{{label('Select');}}</td>
                </tr>
            
            </tbody>
        </table>
	    
	          
	    <div class="dialog-footer modal-footer">
	        <button class="btn dialog-footer-btn" ng-click="cancel()">{{label('Close');}}</button>
	        <div class="dialog-validation-message"><div ng-bind-html-unsafe="validationMessage"></div></div>
	    </div>
    </form>  
</div>
                				