<section>
    <div class="masterdata-page">
        <div class="main" style="margin-left: 173px;">&nbsp;
            <form name="{{form_name}}" novalidate>
	            <table>
	                <tr class="simu-row">
	                    <td>
	                        <table>
	                            <tr class="simu-row1">
	                                <td style="min-width:150px;max-width:150px;">
	                                </td>
	                                
	                                <td class="s02-lb">
	                                    {{label('WeekNr');}}
	                                </td>
	                                <td class="s02-da">
	                                    <input class="so25-planNr form-control"
	                                       id="simu_planNr"
	                                       ng-model="selectedPlanNr" 
	                                       maxlength="5"
	                                       type="text"
	                                       autocomplete="off">
	                                </td>
	                                <td class="so2-sr">
                                        <button type="button" class="btn so2-sr" ng-click="_lx()"><i class="lookup-search-icon fa fa-search-plus"></i></button>
                                    </td>
	                            </tr>
	                            
	                        </table>
	                    </td>
	                    
	                    <td class="so25-sr">
	                        <button type="submit" class="btn so2-r" id="btnGetSimu" ng-click="getPeriod()">{{label('Period.Lo');}}</button>
	                    </td>
	                    <td class="so25-sr">
                            <button type="submit" class="btn so2-r" id="so25-p" ng-disabled="!planP" ng-click="getPeriodPrevious()">{{label('Period.P');}}</button>
                        </td>
                        <td class="so25-sr">
                            <button type="submit" class="btn so2-r" id="so25-n" ng-disabled="!planN" ng-click="getPeriodNext()">{{label('Period.N');}}</button>
                        </td>
	                    
	                </tr>
	            </table>
	        </form>
        </div>
        
    </div>
    <div id="result_table_simu" style="display:none">
        <div data-ng-include src="getViewLink()"></div>
    </div>

	<div id="result_table_simu_partial" style="display:none">
        <div data-ng-include src="getViewLinkPartial()"></div>
    </div>

   
</section>