<!-- 
     no-cache:true
     callback-class:com.progenso.desma.html.entities.importdb.FileImportCallback 
-->

<section>
    
    <div class="masterdata-page">

         <div class="sidebar">
            <div id="scroller-anchor"></div> 
            <div id="scroller" style="margin-top:65px; width:100px"> 
                <div class="so0sbl">{{label('Actions');}}:</div>
                <div ng-class="{'so0i':canImport(),'so0ii':!canImport()}" ng-click="startImport()">{{label('StartImport');}}</div>
                <div class="so0i"  ng-click="toggleDetails()">{{label('ShowDetails');}}</div>
                
                <!-- callback:conflict-save:start -->
	            <div id="save_conflict_ex" class="so0i so051uc" style="display:none" data-ng-click="exportSS()"><a class="so0i" href="">{{label('ExportSS');}}</a></div> <!-- callback:conflict-export -->
	            <div id="save_conflict" class="so0i" style="display:none" ng-click="saveConflictAdjustments()">{{label('XXX');}}</div> <!-- callback:conflict-save-label -->
	            <!-- callback:conflict-save:end -->
            </div>
        </div>


        <div class="main">&nbsp;
    
            <div class="so5t">
                <div class="row">
                    <div ng-class="{'so5m':canImport(),'so5x':!canImport()}">{{message();}}</div>
                </div>
                
                <div class="row">
                    <div class="so5l">{{label('Status');}}:&nbsp;</div>
                    <div ng-class="{'so5de':isTaskError(),'so5d':!isTaskError()}">{{getTaskStatus();}}</div>
                </div>
                <div class="row">
                    <div class="so5l">{{label('TaskLR');}}:&nbsp;</div>
                    <div class="so5d">{{task.getDate();}}</div>
                </div>
            </div>  


            <div class="so5st">
            
                <div class="so5srh">
                    <div class="so5sch">{{label('ImportDD');}}</div>
                    <div class="so5sfh">{{label('ImportF');}}</div>
                    <div class="so5sah">{{label('Records');}}</div>
                </div>
                
                
                <div class="so5sr" ng-repeat="file in files">
                    <div class="so5sc">{{file.getDescription();}}
                        <div class="so5sf2a" ng-show="!file.isImageFile()">
                            <form id="fileuploadImage" action="{{getFileUploadHref(file)}}" method="post" enctype="multipart/form-data">
                                <input type="file" id="{{file.getTypeId()}}" name="file" style="display:none" upload uploadfile="file" accept="application/vnd.ms-excel,.csv"/>
                                <a href="" ng-click="upload(file)">{{label('ImportFA');}}</a><br><br>
                            </form>
                        </div>
                        <div class="so5sf2a" ng-show="file.isImageFile()">
                            <a href="" ng-click="remove(file)">{{label('ImportFR');}}</a>
                        </div>
                    </div>

                    <div class="so5sf">
                        <div class="so5sf1" ng-show="file.isImageFile()">
                            <div class="so5si">
                                <img class="so5si" ng-src="{{file.getImageFile()}}">
                            </div>
                            {{file.getFilename();}}
                        </div>
                        <div class="so5sf1t" ng-show="!file.isImageFile()">
                            {{file.getHelpText();}}
                        </div>
                        
                        <!-- callback:conflict:start -->
                        <div class="so5sf1f" ng-show="file.isFixDate()">
                            {{label('ImportFD') + ': ';}}
                            <input type="text" class="calendar-date form-control"
                                 style="display:inline;magrin-left:10px;"
                                 datepicker-popup="{{datepickerFormat}}" 
                                 show-button-bar="{{datepickerShowButtonBar}}" 
                                 datepicker-options="{{datepickerDateOptions}}" 
                                 is-open="openedFD" 
                                 id="fix-date"
                                 init-date=new Date 
                                 ng-change="inputUpdate('fixDate')" 
                                 ng-model="file[model.getFieldParameter('Date', 'dto')]">
                        </div>
                        <!-- callback:conflict:end -->
                        
                    </div>

                    <div ng-class="{'so5sai':file.isInvalid(),'so5sa':!file.isInvalid()}" ng-click="_logf(file)">
                        {{file.getMessage();}}
                    </div>                        
                </div>
            </div>
           
            
            
            <div>&nbsp;</div>

            <div id="task_table" style="display:none">
            
                <div class="div-table-toolbar">
                    <div class="left record-count">
                        {{label('TaskRN') + ':&nbsp;' + task.getRunNr();}}
                    </div>
                </div>
                               
                <div class="div-table-row-head" childmodel="Runs">
                    <div table-col-head field="Message" class="so5b"></div>
                    <div table-col-head field="RunTime"></div>
                    <div table-col-head field="Records"></div>
                    <div table-col-head field="Status" class="so5a"></div>
                </div>
                
                <div ng-repeat="record in list | orderBy:sort_predicate:sort_reverse">
                    
                    <div class="div-table-row" childmodel="Runs">       
                        <div table-col-row field="Message" class="so5b"></div>
                        <div table-col-row field="RunTime"></div>
                        <div table-col-row field="Records"></div>
                        <div table-col-row field="Status" class="so5a"></div>
                    </div>

                </div>

                <div>&nbsp;</div>            
            </div>


            <!-- callback:conflict:start -->
            <div id="conflict_table">
                <div data-ng-include src="getViewLink()"></div>
            </div>
            <!-- callback:conflict:end -->

        
        </div>
    </div>

</section>