<section>
	
	<div class="masterdata-page">

        <div data-actionmenu="recordEdit,recordSave,recordUndo,recordNew" 
             class="sidebar" 
             data-ng-include 
             data-src="'template/app/sidebar_actions.html'"></div>

	    <div class="main">&nbsp;
	
	          
	        <div class="lastgroup-table">
	        
		        <div class="div-table-toolbar">
		            <div class="left record-count">
			            {{label('RecordCount') + ':' + getListCount();}}
			        </div>
		        </div>

                <div id="scroller-anchor-header"></div> 
                <div id="scroller-header" style="width:100px;">		                       
			        <div class="div-table-row-head">
						<div table-col-head field="Code"></div>	
			            <div table-col-head field="Descr"></div>
			            <div table-col-head field="Rgb" class="so0-h so41-rgb"></div>
			            <div table-col-head class="so42-mgp so0-h" field="Moulds" label="Mould.Gs"></div>
			            		            
			            <div table-col-head-del></div>
					</div>
			    </div>
			    
			    <div ng-repeat="record in list | orderBy:sort_predicate:sort_reverse">
			    	
			    	<div class="div-table-error"  ng-if="record.containsErrors()">
						<div ng-repeat="err in record._errors" >
							<div data-ng-include src="'template/app/error_message_table.html'"></div>
						</div>							
					</div>

			        <div class="div-table-row">	    
			        	<div table-col-row field="Code"></div>
			        	<div table-col-row field="Descr"></div>
			        	
                        <div class="so0-c so41-rgb">
                            <button class="btn reqttab-btn" 
                                    ng-style="{'backgroundColor':'rgb(' + record.getRgb() + ')'}" 
                                    id="{{'colorpicker-btn' + record.getId()}}" 
                                    ng-click="setColor(record)">{{colorPickerLabel();}}</button>
 
                            <div class="colorpicker" id="{{'colorpicker' + record.getId()}}" style="display:none">
                                <canvas id="{{'cpicker' + record.getId()}}" var="1" width="300" height="300"></canvas>
                                <div class="colorpicker-controls">
                                    <div><label>R</label> <input type="text" id="{{'rVal' + record.getId()}}" /></div>
                                    <div><label>G</label> <input type="text" id="{{'gVal' + record.getId()}}" /></div>
                                    <div><label>B</label> <input type="text" id="{{'bVal' + record.getId()}}" /></div>
                                    <div><label>RGB</label> <input type="text" id="{{'rgbVal' + record.getId()}}" /></div>
                                    <div><label>HEX</label> <input type="text" id="{{'hexVal' + record.getId()}}" /></div>
                                    <div><button class="btn colorpicker-blank-btn" ng-click="blankColor(record)">{{label('Blank');}}</button></div>
                                </div>
                            </div>
                        </div>
			        	
			        	<div table-col-row class="so42-mgp so0-c" field="Moulds"></div>
			        				        	
			        	<div table-col-row-del></div>
			        	<div table-col-row-warning></div>
				    </div>

			    </div>
		    
		    </div>
	    
	    </div>
	    
    </div>

</section>