<!-- 
     no-cache:true
     callback-class:com.progenso.desma.html.entities.mdata.MouldCodeListCallback 
     Used to filter columns and to dynamically add machine numbers.
-->

<section>
    
    <div class="masterdata-page">

        <div data-actionmenu="recordEdit,recordSave,recordUndo,recordNew:'MouldAdd',exportSS"
             data-permission-key="_admin"
             class="sidebar" 
             data-ng-include 
             data-src="'template/app/sidebar_actions.html'"></div>


        <div class="main">&nbsp;
    
              
            <div class="mouldcode-table">
            

                <div class="div-table-toolbar">
                    <div class="left record-count">
                        {{label('RecordCount') + ':' + getListCount();}}
                    </div>
                    <div class="so41h1">{{label('Mould.Cs')}}</div> 
                    <div class="so41h2">{{label('Mould.Ps')}}</div> 
                    <div class="middle">
                        
                    </div>
                </div>


                <div id="scroller-anchor-header"></div> 
                <div id="scroller-header" style="width:100px;">   
                    <div class="div-table-row-head">
                        <div table-col-head class="so41-grph so0-h" field="GroupCode"></div>
                        <div table-col-spacer/>
                        
                        <div table-col-head class="so41-mcdh so0-h" field="MouldCode"></div>
                        <div table-col-head class="so41-mdsh so0-h" field="MouldCodeDesc"></div>
                        <div table-col-head class="so41-sizh so0-h" field="SizesList"></div>
                        <div table-col-head class="so41-mcdh so0-h" field="MouldCodeSub"></div>
                        <div table-col-spacer/>
                        <div table-col-spacer/>
                        
                        <div table-col-head class="so41-cod so0-h" field="MCode"></div>
                        <div table-col-head class="so41-cdr so0-h" field="MDescr"></div>
                        <div table-col-head class="so41-act so0-h" field="MActive"></div>
                        <div table-col-head class="so41-pla so0-h" field="PlantCode"></div>
                        <div table-col-head class="so41-tra so0-h" field="TransformsList"></div>
                        
                        <!-- callback column -->
                        <!-- div class="so41-mac so0-h" callback-head="MachineNrs"></div-->
                        <!-- div class="so41-sta so0-h" callback-head="Stations"></div-->                                     

                        <div table-col-spacer/>                        
                        <div table-col-head-del></div>
                    </div>
                </div>
                
                <div ng-repeat="record in list | orderBy:sort_predicate:sort_reverse">
                    
                    <div class="div-table-error"  ng-if="record.containsErrors()">
                        <div ng-repeat="err in record._errors" >
                            <div data-ng-include src="'template/app/error_message_table.html'"></div>
                        </div>                          
                    </div>

                    <div class="div-table-row">
                        <div table-col-row class="so41-grp so0-c" field="GroupCode" select-options="p.getCode() as p.getCode() for p in groups" so-field-class="fieldClass"></div>
                        <div table-col-spacer/>

                        <div table-col-row class="so41-mcd so0-c" field="MouldCode"       so-field-edit="fieldEdit" so-field-class="fieldClass" id="{{'mcx' + record.getId()}}"></div>
                        <div table-col-row class="so41-mds so0-c" field="MouldCodeDesc"   so-field-edit="fieldEdit" so-field-class="fieldClass" id="{{'mdx' + record.getId()}}"></div>
                        <div table-col-row class="so41-siz so0-c" field="SizesList"       so-field-edit="fieldEdit" so-field-class="fieldClass"></div>
                        <div table-col-row class="so41-mcd so0-c" field="MouldCodeSub"    so-field-edit="fieldEdit" so-field-class="fieldClass" id="{{'mcx' + record.getId()}}"></div>
                        <div table-col-spacer/>
                        <div table-col-spacer/>

                        <div table-col-row class="so41-cod so0-c" field="MCode"  id="{{'cox' + record.getId()}}"></div>
                        <div table-col-row class="so41-cdr so0-c" field="MDescr" id="{{'cdx' + record.getId()}}"></div>
                        <div table-col-row class="so41-act so0-c" field="MActive"></div>
                        <div table-col-row class="so41-pla so0-c" field="PlantCode" select-options="p.getCode() as p.getCode() for p in plants"></div>
                        <div table-col-row class="so41-tra so0-c" field="TransformsList"></div>
                        
                        <!-- callback column -->
                        <!-- div table-col-row class="so41-mac so0-c" callback-field="MachineActive" index="0" so-field-edit="fieldEdit" ></div -->
                        <!-- div table-col-row class="so41-sta so0-c" callback-field="Stations" index="0" ></div -->
                        
                        <div table-col-spacer/>
                        <div table-col-row-del></div>
                        <div table-col-row-warning></div>

                    </div>
                    
                </div>
            
            </div>
        </div>
        
    </div>

</section>