<!-- 
     no-cache:true
     callback-class:com.progenso.desma.html.entities.mdata.ShiftListCallback 
-->
<section>
	
	<div class="masterdata-page">

        <div data-actionmenu="recordEdit,recordSave,recordUndo,recordNew"
             data-permission-key="_admin" 
             class="sidebar" 
             data-ng-include 
             data-src="'template/app/sidebar_actions.html'"></div>


	    <div class="main">&nbsp;
	
	          
	        <div class="shift-table">
	        
		        <div id="scroller-anchor-header"></div> 
                <div id="scroller-header"  class="header-scroll">
					<div class="div-table-toolbar">
			            <div class="left record-count">
				            {{label('RecordCount') + ':' + getListCount();}}
				        </div>
			        </div>

			        <div class="div-table-row-head">
			        	<div table-col-head field="PlantCode"></div>  <!-- condition:plant -->
			            <div table-col-head class="so43-int so0-h" field="Sort"></div>
						<div table-col-head class="so48-cod so0-h" field="Code"></div>	
			            <div table-col-head field="Descr"></div>
			            <div table-col-head field="Active"></div>
			            		            
			            <div table-col-head-del></div>
					</div>
			    </div>
			    
			    <div ng-repeat="record in list | orderBy:sort_predicate:sort_reverse">
			    	
			    	<div class="div-table-error"  ng-if="record.containsErrors()">
						<div ng-repeat="err in record._errors" >
							<div data-ng-include src="'template/app/error_message_table.html'"></div>
						</div>							
					</div>

					<!-- thanks to http://www.grobmeier.de/angular-js-ng-select-and-ng-options-21112012.html#.VCFiChb4T2o -->
			        <div class="div-table-row">
			            <div table-col-row field="PlantCode" select-options="p.getCode() as p.getCode() for p in plants"></div>  <!-- condition:plant -->
			            <div table-col-row class="so43-int so0-c" field="Sort"></div>	    
			        	<div table-col-row class="so48-cod so0-c" field="Code"></div>
			        	<div table-col-row field="Descr"></div>
			        	<div table-col-row field="Active"></div>

			        	<div table-col-row-del></div>
			        	<div table-col-row-warning></div>
				    </div>

			    </div>
		    
		    </div>
	    
	    </div>
	    
    </div>

</section>