<!-- 
     no-cache:true
     callback-class:com.progenso.desma.html.entities.mdata.StyleListCallback 
-->

<section>
    
    <div class="masterdata-page">

        <div data-actionmenu="recordEdit,recordSave,recordUndo,lookup,lookupAdvance,exportSS" 
             data-permission-key="_admin"
             class="sidebar" 
             data-ng-include 
             data-src="'template/app/sidebar_actions.html'">
             
             <br><br>
             <div class="so0sbl">{{label('Open');}}:</div>
             
             <!-- callback will test if the changeView action is included -->
             <div class="so0i" id="openMoulds"><a href="" data-ng-click="openMoulds()">{{label('Moulds')}}</a></div>
             <div class="so0i" id="openLasts"><a href="" data-ng-click="openLasts()">{{label('Lasts')}}</a></div>
             
             <div class="so0i"><a href="" data-ng-click="openMachines()">{{label('MachineSty')}}</a></div>
             
             <!-- callback will test if materials are included -->
             <div class="so0i"><a href="" data-ng-click="openMaterials()">{{label('MatS')}}</a></div>
             
             <!-- callback will test if attributes are included -->
             <div class="so0i"><a href="" data-ng-click="openAttr()">{{label('AttrS')}}</a></div>
                          
        </div>

	    <div id="result_table" style="display:none">
	        <div data-ng-include src="getViewLink()"></div>
	    </div>


    </div><!-- "masterdata-page" -->

</section>