<!-- 
     no-cache:true
     callback-class:com.progenso.desma.html.entities.mdata.StyleMachineListCallback 
-->

<section>
    
    <div class="masterdata-page">

        <div data-actionmenu="recordEdit,recordSave,recordUndo,lookup,lookupAdvance" 
             data-permission-key="_admin"
             class="sidebar" 
             data-ng-include 
             data-src="'template/app/sidebar_actions.html'">
             
            <label class="so80-iof" for="so80_iofcb">{{label('StyleA');}}</label>            
            <div class="so80-iofi">
                <input class="dialog-checkboxXX"  
                        id = "so80_iofcb"
                        type="checkbox"
                        ng-click="toggleImportOnly()"
                        ng-model="toggleIO"> 
            </div>


            <br><br>
            <div class="so0sbl">{{label('Open');}}:</div>
             
            <!-- callback will test if the changeView action is included -->
            <div class="so0i"><a href="" data-ng-click="openMoulds()">{{label('Moulds')}}</a></div>
            <div class="so0i"><a href="" data-ng-click="openLasts()">{{label('Lasts')}}</a></div>
             
            <div class="so0i">{{label('MachineSty')}}</div>
             
            <!-- callback will test if materials are included -->
            <div class="so0i"><a href="" data-ng-click="openMaterials()">{{label('MatS')}}</a></div>
             
            <!-- callback will test if attributes are included -->
            <div class="so0i"><a href="" data-ng-click="openAttr()">{{label('AttrS')}}</a></div>
             
        </div>


        <div class="main">&nbsp;
    
            <div class="div-table-toolbar" id="style-table-toolbar">
                <div class="left record-count">
                    {{label('RecordCount') + ':' + getListCount();}}
                </div>
                <div class="middle">
                    <div data-ng-include data-src="'template/app/page_navigation.html'"></div>
                </div>
            </div>

              
            <div class="style-table">
            
                <!-- Locked Columns table -->
                <div class="style-table1" id="left-col-table">

                    <div id="scroller-anchor-header1"></div> 
                    <div id="scroller-header1" style="width:100px;z-index:1000;">
                        <div class="div-table-row-head">
                            <div table-col-head field="Code"    class="so82h-cod"></div>
                            <div table-col-head field="Variant" class="so82h-var"></div>
                        </div>
                    </div>
                    
                    <div ng-repeat="record in list | startFrom:page.pageIndexes[page.current].i | limitTo:page.pageIndexes[page.current].r">
                        
                        <div class="div-table-error"  ng-if="record.containsErrors()">
                            <div ng-repeat="err in record._errors" >
                                <div data-ng-include src="'template/app/error_message_table.html'"></div>
                            </div>                          
                        </div>
    
                        <div class="div-table-row">
                            <div table-col-row field="Code"    class="so82-cod"></div>
                            <div table-col-row field="Variant" class="so82-var"></div>
                        </div>
                    </div>
            
                </div>



                <!-- Unlocked (editable data) Columns table. -->
                <div class="style-table2">

                    <div id="scroller-anchor-header2"></div> 
                    <div id="scroller-header2" style="width:100px;z-index:1;">
                        <div class="div-table-row-head">
                            <div table-col-head field="Descr"  class="so82h-dea"></div>
                            <!-- callback column -->
                            <!-- div class="so82h-mac" callback-head="Machines"></div-->
                            
                            <!-- callback column -->
                            <!-- div class="so0-hns preptab-agg" callback-head="Service"></div-->                                     
                        </div>
                    </div>
                
                    <div ng-repeat="record in list | startFrom:page.pageIndexes[page.current].i | limitTo:page.pageIndexes[page.current].r">
                    
                        <div class="div-table-error"  ng-if="record.containsErrors()">
                            <div ng-repeat="err in record._errors" >
                                <div data-ng-include src="'template/app/error_message_table.html'"></div>
                            </div>                          
                        </div>

                        <div class="div-table-row">
                            <div table-col-row field="Descr"  class="so82-dea"></div>
                            <!-- callback column -->
                            <!-- div table-col-row class="so82-mac" callback-field="MachineActive" index="0" ></div -->
                            
                            <!-- callback column -->
                            <!-- div class="preptab-agg" callback-field="Service"></div-->
                            
                            <div table-col-row-warning></div>
                        </div>
                    </div>
                </div>
            
            </div><!-- "style-table" -->
        </div><!-- "main" -->
    </div><!-- "masterdata-page" -->

</section>