/*
 * <Div> table css settings
 */

@import (reference) "app.less";


/**************************************************************************************
 * Base table configuration
 * This file contains default settings for div tables. 
 * Specific settings for the application are located in:[web_root]/mod/css/table.less
 *************************************************************************************/
.div-table{
  display:table;
  border-collapse:collapse;
}

.so0-table-ti{
  font-size:@TableFontSize + 2;
  font-weight: bold;
  margin-bottom: 3px;
}



/**********************************************
 * Default Column configurations
 **********************************************/
.div-table-col-head{
  .so0tcb;
  color: #FFFFFF;
  font-weight: bold;
  height:@RowHeaderHeight;
  text-align:center !important;
  padding: 1px 3px 1px 3px;
  vertical-align: middle;
}

.so0-h{
  .so0tcb;
  color: #FFFFFF;
  font-weight: bold;
  height:@RowHeaderHeight;
  text-align:center;
  padding: 1px 3px 1px 3px;
  vertical-align: middle;
}

@so0-spacer-w: 10px;
div.so0-spacer{
  .so0tcb;
  background: white;
  max-width:@so0-spacer-w;
  min-width:@so0-spacer-w;
  outline: none;
}



.div-table-col-head-nosort{
  .div-table-col-head;
  cursor: initial;
}

div.so0-hns{
  .so0-h;
  cursor: initial;
}

div.div-table-col{
  .so0tcb;
}

div.so0-c{
  .so0tcb;
}

.div-table-input{
  font-size:@TableFontSize;
}

div.div-table-col-header{
  .so0tcb;
  color: @TextWeakColor;
  font-style: italic;
}




/**********************************************
 * Default Row configurations
 **********************************************/
.div-table-row-base{
  display:table;
  border-collapse:collapse;
  width:auto;
  clear:both;
  overflow:none;
}

.so0-rb{
  display:table;
  border-collapse:collapse;
  width:auto;
  clear:both;
  overflow:none;
}

.div-table-row{
  .div-table-row-base;
  height:@RowHeight;
}

.so0r{
  .so0-rb;
  height:@RowHeight;
}

.div-table-row-head{
  .div-table-row-base;
  background-color: @RowHeaderBGColor;
  background: linear-gradient(to top, @HeaderBannerColorStrong, @HeaderBannerColorWeak);
  cursor: pointer;
}

.so0rh{
  .so0-rb;
  background-color: @RowHeaderBGColor;
  background: linear-gradient(to top, @HeaderBannerColorStrong, @HeaderBannerColorWeak);
  cursor: pointer;
}

.so0rh-np{
  .so0rh;
  cursor:auto;
}


.so0-trhi{
  .div-table-row-base;
  background-color: @RowHeaderBGColorInner;
  background: linear-gradient(to top, @InnerBannerColorStrong, @InnerBannerColorWeak);
  cursor:auto;
}

.div-table-row-select{
  background-color: @TableRowSelectBGColor;
  outline: thin solid black;
}

.div-table-evenrow{
  background-color:@RowBGEvenColor;     
}
.so0re{
  background-color:@RowBGEvenColor;
}

.div-table-row-foot{
  margin-top: 5px;
}

/**********************************************
 * Column widths and configurations
 **********************************************/
@table-w-input-sub:  6;
@table-w-default:  100px;
@table-w-id:       50px;
@table-w-pos:      45px;
@table-w-code:     77px;
@table-w-desc:     200px;
@table-w-perc:     70px;
@table-w-int:      60px;
@table-w-long:     60px;
@table-w-doub:     60px;
@table-w-bool:     50px;
@table-w-date:     80px;
@table-w-str:      100px;
@table-w-lkey:     90px;
@table-w-delete:   60px; 
@table-w-warning:  30px;
@table-w-icon:     30px;

.div-table-icon-base{
  display: table-cell;
  font-size: 20px;
  margin-left: 5px;
  text-align:center;
  vertical-align:middle;
}
.div-table-icon{
  .div-table-icon-base;
  width: @table-w-icon;
  max-width: @table-w-icon;
  min-width: @table-w-icon;
}
.div-table-delete{
  text-align:center;
  width: @table-w-delete;
  max-width: @table-w-delete;
  min-width: @table-w-delete;
}

.div-table-warning{
  .div-table-icon-base;
  width: @table-w-warning;
  max-width: @table-w-warning;
  min-width: @table-w-warning;
}


.div-table-default{
  text-align:left;
  width: @table-w-default;
  max-width: @table-w-default;
  min-width: @table-w-default;
}
.div-table-id{
  text-align:right;
  width: @table-w-id;
  max-width: @table-w-id;
  min-width: @table-w-id;
    input{
    .div-table-input;
    text-align:right;
    width: @table-w-id - @table-w-input-sub;
  }
}
.div-table-pos{
  text-align:right;
  width: @table-w-pos;
  max-width: @table-w-pos;
  min-width: @table-w-pos;
  input{
    .div-table-input;
    text-align:right;
    width:@table-w-pos - @table-w-input-sub;
  }
}
.so0tp{
  text-align:right;
  width: @table-w-pos;
  max-width: @table-w-pos;
  min-width: @table-w-pos;
  input{
    .div-table-input;
    text-align:right;
    width:@table-w-pos - @table-w-input-sub;
  }
}


.div-table-code{
  text-align:left;
  width: @table-w-code;
  max-width: @table-w-code;
  min-width: @table-w-code;
  input{
    .div-table-input;
    text-align:left;
    width: @table-w-code - @table-w-input-sub;
  }
}

.div-table-desc{
  text-align:left;
  width: @table-w-desc;
  max-width: @table-w-desc;
  min-width: @table-w-desc;
  input{
    .div-table-input;
    text-align:left;
    width: @table-w-desc - @table-w-input-sub;
  }
  select{
    width: @table-w-desc - @table-w-input-sub;
  }
}

.div-table-perc{
  text-align:right;
  max-width: @table-w-perc;
  min-width: @table-w-perc; 
  input{
    .div-table-input;
    text-align:right;
    width: @table-w-perc - @table-w-input-sub;
  }
}

.div-table-int{
  text-align:right;
  width: @table-w-int;
  max-width: @table-w-int;
  min-width: @table-w-int; 
  input{
    .div-table-input;
    text-align:right;
    width: @table-w-int - @table-w-input-sub;
  }
}
.div-table-long{
  text-align:right;
  width: @table-w-long;
  max-width: @table-w-long;
  min-width: @table-w-long; 
  input{
    .div-table-input;
    text-align:right;
    width: @table-w-long - @table-w-input-sub;
  }
}
.div-table-doub{
  text-align:right;
  width: @table-w-doub;
  max-width: @table-w-doub;
  min-width: @table-w-doub; 
  input{
    .div-table-input;
    text-align:right;
    width: @table-w-doub - @table-w-input-sub;
  }
}
.div-table-bool{
  text-align:center;
  width: @table-w-bool;
  max-width: @table-w-bool;
  min-width: @table-w-bool;
  input{
    .div-table-input;
    text-align:center;
    width: @table-w-bool - @table-w-input-sub;
  } 
}
.div-table-date{
  text-align:center;
  width: @table-w-date;
  max-width: @table-w-date;
  min-width: @table-w-date; 
}
input.div-table-datepicker{
  .div-table-input;
  border-radius: 2px;
  height:24px;
  padding:0px;
  text-align: center;
}
.div-table-str{
  text-align:left;
  width: @table-w-str;
  max-width: @table-w-str;
  min-width: @table-w-str; 
  input{
    .div-table-input;
    text-align:left;
    width: @table-w-str - @table-w-input-sub;
  }
}
.div-table-lkey{
  text-align:left;
  width: @table-w-lkey;
  max-width: @table-w-lkey;
  min-width: @table-w-lkey; 
  input{
    .div-table-input;
    text-align:left;
    width: @table-w-lkey - @table-w-input-sub;
  }
}


/**********************************************
 * Inner Table configurations
 **********************************************/
.div-table-inner{
  margin-bottom:50px;
  margin-left:70px;
  margin-top:20px;

}


/**********************************************
 * Error Table configurations
 **********************************************/
div.div-table-error{
  padding-bottom: 5px;
  padding-top: 15px;
}

.div-table-row-error{
  .div-table-row-base;
  height:@RowHeight;
  display: table;
}

.div-table-col-error{
  color:@ErrorMessageColor; 
  display:table-cell;   
  padding: 1px 3px 1px 3px;
  text-align:left;
  vertical-align:middle;
}

div.div-table-col-error{
  .div-table-col-error;
  border: 1px solid @ErrorMessageColor;
  padding-left:20px;
  width:300px;
  max-width:300px;
  min-width:300px;
}

.div-table-col-invalid {
  border: solid 1px rgb(255,112,112);
  border-radius: 2px;
}



/**********************************************
 * Table tool bar configuration
 **********************************************/
.div-table-toolbar {
  background: none repeat scroll 0 0 @TableToolbarBGColor;
  border:none;
  font-size: @TableToolbarFontSize;
  height: @ToolbarHeight;
  margin-bottom: 5px;
  margin-top: -5px;
  position:relative;
  z-index: 1000;

  .left{
    position:absolute;
      left:0px;
      bottom:0px;
  }
  .right{
    position:absolute;
      right:0px;
      bottom:0px;
  }
  .middle{
    position:absolute;
    left:50%;
    bottom:0px;
  }
  .record-count{
    color: @TextWeakColor;
  }

  .action-link{
    margin-left:10px;
  }
}

div.header-scroll{
    background: none repeat scroll 0 0 @TableToolbarBGColor;
    margin-top: 5px;
    width: 100%;
}