<!-- 
     no-cache:false
     callback-class:com.progenso.desma.html.entities.export.ExportCallback 
-->

<section>
    
    <div class="masterdata-page">

        <div class="main">&nbsp;
    
            <table class="so6t">
                <tr class="so1r">
                    
                    <td class="so6sb1">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="so1st">{{label('ExpDF')}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="so6l">{{label('ExpFrom')}}</div>
                                </td>
                                <td>
                                    <div class="so6z">
                                        <div class="so6u">
                                            <input type="text" class="calendar-date form-control"
                                                datepicker-popup="{{datepickerFormat}}" 
                                                show-button-bar="{{datepickerShowButtonBar}}" 
                                                datepicker-options="{{datepickerDateOptions}}" 
                                                is-open="openedS" 
                                                id="start-date"
                                                init-date=new Date 
                                                ng-change="inputUpdate('start')" 
                                                ng-model="from">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                            
                            <tr class="so6l">
                                <td>
                                    <div class="so6l">{{label('ExpTo')}}</div>
                                </td>
                                <td>
                                    <div class="so6d">
                                        <input type="text" class="calendar-date form-control"
                                            datepicker-popup="{{datepickerFormat}}" 
                                            show-button-bar="{{datepickerShowButtonBar}}" 
                                            datepicker-options="{{datepickerDateOptions}}" 
                                            is-open="openedF" 
                                            id="finish-date"
                                            init-date=new Date
                                            ng-disabled="!enableFrom" 
                                            ng-change="inputUpdate('finish')"
                                            ng-model="to">
                                        <div class="so6c" ng-click="copyFrom()">{{label('Copy')}}<br>
                                            <i class="fa fa-reply fa-flip-vertical"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                            <!-- callback plant:start -->
                            <tr>
                                <td colspan="2">
                                    <div class="so6st">{{label('Plant')}}</div>
                                </td>
                            </tr>
                            <tr>    
                                 <td class="so6l">{{label('Plant');}}</td>
                                 <td class="so6d">
                                     <select class="so6d"  data-ng-model="plant" data-ng-options="rec.value for rec in plants"></select>       
                                 </td>
                            </tr>
                            <!-- callback plant:end -->
                            
                            <tr>
                                <td colspan="2">
                                    <div class="so6st">{{label('Filter')}}</div>
                                </td>
                            </tr>
                            <tr>    
                                 <td class="so6l">{{label('Machine');}}</td>
                                 <td class="so6d">
                                     <select class="so6d"  data-ng-model="machine" data-ng-options="rec.value for rec in machines"></select>       
                                 </td>
                            </tr>
                            <tr class="so6l">    
                                 <td class="so6l">{{label('Shift');}}</td>
                                 <td class="so6d">
                                     <select class="so6d"  data-ng-model="shift" data-ng-options="rec.value for rec in shifts"></select>       
                                 </td>
                            </tr>
                            
                            
                        </table>
                        
                    </td>
                    
                    <td class="so1sp">&nbsp;</td>
                    

                    <td class="so6sb1">
                        <table>
                            <tr>
                                <td>
                                    <div class="so1st">{{label('View')}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="so6r" id="select-si" type="radio" name="selector" value="si" data-ng-model="view.selection" data-ng-click="viewSelect()">
                                    <label class="so6r" for="select-si">{{label('ExDet')}}</label><br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="so6r" id="select-mc" type="radio" name="selector" value="mc" data-ng-model="view.selection" data-ng-click="viewSelect()">
                                    <label class="so6r" for="select-mc">{{label('ChgMould')}}</label><br>
                                </td>
                            </tr>   
                            <tr>
                                <td>
                                    <input class="so6r" id="select-ov" type="radio" name="selector" value="ov" data-ng-model="view.selection" data-ng-click="viewSelect()">
                                    <label class="so6r" for="select-ov">{{label('SimuSum')}}</label><br>
                                </td>
                            </tr>

                            <!-- callback cycle:start -->                         
                            <tr>
                                <td>
                                    <input class="so6r" id="select-cy" type="radio" name="selector" value="cy" data-ng-model="view.selection" data-ng-click="viewSelect()">
                                    <label class="so6r" for="select-cy">{{label('ExpTC')}}</label><br>
                                </td>
                            </tr> 
                            <!-- callback cycle:end -->   
                            
                        </table>
                    </td>
                   
                    <td class="so1sp">&nbsp;</td>
                   
                    <td class="so6sb1">
                        <table>
                            <tr>
                                <td>
                                    <div class="so1st">{{label('ExpOT')}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="btn so6bt" id="btnExPdf" ng-click="exportPdf()">{{label('ExpPdf')}}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="btn so6bt" id="btnExSS" ng-click="exportSS()">{{label('ExpSS')}}</button>
                                </td>
                            </tr>
                            <!-- callback csv:start -->                            
                            <tr>
                                <td>
                                    <button type="submit" class="btn so6bt" id="btnExCsv" ng-click="exportCsv()" ng-disabled="!enableCsv">{{label('ExpCSV')}}</button>
                                </td>
                            </tr>
                            <!-- callback csv:end -->    
                        </table>                    
                    </td>
                </tr>
            </table>
    
    
           <div id="so6b-ft">
            
                <div class="so6tb">
                    <div class="left so6b-t">
                        {{label('FixLF');}}
                    </div>
                </div>
                               
                <div class="div-table-row-head" childmodel="Fixes">
                    <div table-col-head field="MachineNr" class="so6b-mn"></div>
                    <div table-col-head field="Machine"   class="so6b-mc"></div>
                    <div table-col-head field="FixNr"     class="so6b-fn"></div>
                    <div table-col-head field="FixDateS"  class="so6b-fd"></div>
                </div>
                
                <div ng-repeat="record in fixes | orderBy:sort_predicate:sort_reverse">
                    
                    <div class="div-table-row" childmodel="Fixes">       
                        <div table-col-row field="MachineNr" class="so0tcb so6b-mn"></div>
                        <div table-col-row field="Machine"   class="so0tcb so6b-mc"></div>
                        <div table-col-row field="FixNr"     class="so0tcb so6b-fn"></div>
                        <div table-col-row field="FixDateS"  class="so0tcb so6b-fd"></div>
                    </div>

                </div>
            
            </div>
    
        
        </div>
        
    </div>

</section>