	
	<div class="dialog-message-header">
        {{title();}}
    </div>
	
    <form name="{{form_name}}" novalidate>
    <div class="modal-body">
        <div class="dialog-message-text">
	        {{message();}}
	    </div>
    </div>
		  
		  
    <div class="dialog-message-icon">
        <i class="{{iconMessage();}}"></i>
    </div>		  
	  
    <div class="dialog-footer modal-footer">
	    <button class="btn dialog-message-button" ng-click="yes()">{{label('Yes');}}</button>
	    <button class="btn dialog-message-button" ng-click="no()">{{label('No');}}</button>
	    <div class="dialog-validation-message"><div ng-bind-html-unsafe="validationMessage"></div></div>
	</div>
	</form>  
		

		
		