
<table class="autowidth table-condensed">
    <tbody>
             
        <tr>    
             <td class="so01ir" colspan="4">{{$parent.label($parent.fdModel.getFieldParameter('SimuMDFType1', 'label'));}}: Refer prod_order Table</td>
        </tr>     
        <tr>    
             <td class="so01i">{{$parent.label($parent.fdModel.getFieldParameter('SimuMDFType1', 'label'));}} 1</td>
             <td class="so01se" colspan="3">
                  <select class="so01se"  
                          data-ng-model="type[$parent.fdModel.getFieldParameter('SimuMDFValue1', 'dto')]" 
                          data-ng-options="p.value for p in $parent.simuMFDs"></select>
             </td>
             <td class="so01i">{{$parent.label($parent.fdModel.getFieldParameter('SimuMDFType3', 'label'));}} 3</td>
             <td class="so01se" colspan="3">
                  <select class="so01se"  
                          data-ng-model="type[$parent.fdModel.getFieldParameter('SimuMDFValue3', 'dto')]" 
                          data-ng-options="p.value for p in $parent.simuMFDs"></select>
             </td>
        </tr>              
             
        <tr>    
             <td class="so01i">{{$parent.label($parent.fdModel.getFieldParameter('SimuMDFType2', 'label'));}} 2</td>
             <td class="so01se" colspan="3">
                  <select class="so01se"  
                          data-ng-model="type[$parent.fdModel.getFieldParameter('SimuMDFValue2', 'dto')]" 
                          data-ng-options="p.value for p in $parent.simuMFDs"></select>
             </td>
             <td class="so01i">{{$parent.label($parent.fdModel.getFieldParameter('SimuMDFType4', 'label'));}} 4</td>
             <td class="so01se" colspan="3">
                  <select class="so01se"  
                          data-ng-model="type[$parent.fdModel.getFieldParameter('SimuMDFValue4', 'dto')]" 
                          data-ng-options="p.value for p in $parent.simuMFDs"></select>
             </td>
        </tr>     
             
                            
        <tr>    
		    <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('Period', 'label'));}}</td>
		    <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('Period', 'dto')]"></td>
		
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('Shifts', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('Shifts', 'dto')]"></td>

		    <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('SizesAtBottomLeft', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('SizesAtBottomLeft', 'dto')]"></td>
            
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('SizeInline', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('SizeInline', 'dto')]"></td>

            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('MixedSizes', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('MixedSizes', 'dto')]"></td>
        </tr> 
        
        <tr>    
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('ShiftTotalsInBox', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('ShiftTotalsInBox', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('DayTotalsPerStation', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('DayTotalsPerStation', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('ShiftTotals', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('ShiftTotals', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('MouldChanges', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('MouldChanges', 'dto')]"></td>

            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('MouldChangesInBox', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('MouldChangesInBox', 'dto')]"></td>        
        </tr> 
        
        <tr>
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('NotB4Period', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('NotB4Period', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('PdfColWidth', 'label'));}}</td>
            <td><input type="text" class="so01p" ng-model="type[$parent.fdModel.getFieldParameter('PdfColWidth', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('PdfMaxStationsPerPage', 'label'));}}</td>
            <td><input type="text" class="so01p" ng-model="type[$parent.fdModel.getFieldParameter('PdfMaxStationsPerPage', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('PdfTemplate', 'label'));}}</td>
            <td colspan="5"><input type="text" class="so01s" ng-model="type[$parent.fdModel.getFieldParameter('PdfTemplate', 'dto')]" style="width:160px;"></td>
        </tr>
        
        <tr>
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('ShowStationPairs', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('ShowStationPairs', 'dto')]"></td>
            
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('MaterialsInLine', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('MaterialsInLine', 'dto')]"></td>
            
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('MaterialsSummary', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fdModel.getFieldParameter('MaterialsSummary', 'dto')]"></td>
            
            <td class="so01iv">{{$parent.label($parent.fdModel.getFieldParameter('PdfMaxMaterialsPerPage', 'label'));}}</td>
            <td><input type="text" class="so01p" ng-model="type[$parent.fdModel.getFieldParameter('PdfMaxMaterialsPerPage', 'dto')]"></td>
        </tr>
        
    </tbody>
</table>