
<table class="autowidth table-condensed">
    <tbody>
                            
        <tr>    
		    <td class="so01iv">{{$parent.label($parent.fcModel.getFieldParameter('PdfBgColors', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.fcModel.getFieldParameter('PdfBgColors', 'dto')]"></td>
		
            <td class="so01iv">{{$parent.label($parent.fcModel.getFieldParameter('PdfColWidth', 'label'));}}</td>
            <td><input type="text" class="so01p" ng-model="type[$parent.fcModel.getFieldParameter('PdfColWidth', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fcModel.getFieldParameter('PdfMaxStationsPerPage', 'label'));}}</td>
            <td><input type="text" class="so01p" ng-model="type[$parent.fcModel.getFieldParameter('PdfMaxStationsPerPage', 'dto')]"></td>
        
            <td class="so01iv">{{$parent.label($parent.fcModel.getFieldParameter('PdfTemplate', 'label'));}}</td>
            <td colspan="5"><input type="text" class="so01s" ng-model="type[$parent.fcModel.getFieldParameter('PdfTemplate', 'dto')]"  style="width:160px;"></td>
        </tr> 
        
    </tbody>
</table>