
<table class="autowidth table-condensed">
    <tbody>
                            
        <tr>    
		    <td class="so01iv">{{$parent.label($parent.soModel.getFieldParameter('Period', 'label'));}}</td>
		    <td><input type="checkbox" ng-model="type[$parent.soModel.getFieldParameter('Period', 'dto')]"></td>
		
		    <td class="so01iv">{{$parent.label($parent.soModel.getFieldParameter('Shifts', 'label'));}}</td>
            <td><input type="checkbox" ng-model="type[$parent.soModel.getFieldParameter('Shifts', 'dto')]"></td>
		
		</tr> 
        
    </tbody>
</table>